<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>  
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body th:fragment="matchList (matches)">  

    <div class="table-responsive">          
		<table class="table">
		  <tbody>
		    <tr th:each="match : ${matches.matches}">
		      <td th:text="${match.week}">1</td>
		      <td><a th:href="'/teams/' + ${match.homeTeam.id}" th:text="${match.homeTeam.name}">Green Bay Packers</a></td>
		      <td><img th:src="@{'~/images/' + ${match.homeTeam.name} + '.png'}" src="../static/images/Green Bay Packers.png" width="30" height="30"/></td>
		      <td th:text="${match.finished} ? ${match.homeScore} + ':' + ${match.roadScore} + (${match.overtime} ? ' n.V.' : '') : ''">0:0</td>
		      <td><img th:src="@{'~/images/' + ${match.roadTeam.name} + '.png'}" src="../static/images/Seattle Seahawks.png" width="30" height="30"/></td>
		      <td><a th:href="'/teams/' + ${match.roadTeam.id}" th:text="${match.roadTeam.name}">Seattle Seahawks</a></td>
		    </tr>
		  </tbody>
		</table>
	</div>

  </body>
</html>