<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <!--/*/ <th:block th:include="fragments/head :: head"/> /*/-->
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="box col-md-6 col-md-offset-3">
                    <div class="stormpath-header">
                        <img src="http://www.emoticonswallpapers.com/avatar/logos/NFL-Logo.jpg"/>
                    </div>

                    <div th:if="${account}">
                        <h1 th:inline="text">Hello, [[${account.givenName}]]!</h1>
                        <form th:action="@{/logout}" method="post">
                            <a href="/restricted" class="btn btn-primary">Restricted</a>
                        	<a href="/anyUser" class="btn btn-primary">Any User</a>
                            <input type="submit" class="btn btn-danger" value="Logout"/>
                        </form>
                    </div>
                    
                    <div th:unless="${account}">
                        <h1>Who are you?</h1>
                        <a href="/restricted" class="btn btn-primary">Restricted</a>
                       	<a href="/anyUser" class="btn btn-primary">Any User</a>
                    </div>
                    
                    <div class="table-responsive">          
						<table class="table">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>Home</th>
						      <th>Logo</th>
						      <th>Score</th>
						      <th>Logo</th>
						      <th>Road</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="match : ${matches.matches}">
						      <td th:text="${match.id}">1</td>
						      <td th:text="${match.homeTeam.name}">Green Bay Packers</td>
						      <td><img th:src="@{'images/' + ${match.homeTeam.name} + '.png'}" src="../static/images/Green Bay Packers.png" width="30" height="30"/></td>
						      <td th:text="${match.finished} ? ${match.homeScore} + ':' + ${match.roadScore} + (${match.overtime} ? ' n.V.' : '') : ''">0:0</td>
						      <td><img th:src="@{'images/' + ${match.roadTeam.name} + '.png'}" src="../static/images/Seattle Seahawks.png" width="30" height="30"/></td>
						      <td th:text="${match.roadTeam.name}">Seattle Seahawks</td>
						    </tr>
						  </tbody>
						</table>
					</div>
                    
                    <div class="table-responsive">          
						<table class="table">
						  <thead>
						    <tr>
						      <th>#</th>
						      <th>Logo</th>
						      <th>Name</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr th:each="team : ${teams}">
						      <td th:text="${team.id}">1</td>
						      <td><img th:src="@{'images/' + ${team.name} + '.png'}" src="../static/images/Green Bay Packers.png" width="30" height="30"/></td>
						      <td th:text="${team.name}">Green Bay Packers</td>
						    </tr>
						  </tbody>
						</table>
					</div>                
                
                </div>
            </div>
        </div>
    </body>
</html>